In [147]:
import pandas as pd
import matplotlib.pyplot as plt

In [148]:
dataframe_test = pd.read_csv(r'C:\Users\computer\Desktop\Software & Data science projects\Websraping project\jumia-scraper\Jumia-scraper.csv')

In [149]:
dataframe_test["price"] = dataframe_test["price"].str.replace("Dhs" ,"")
dataframe_test["price"] = dataframe_test["price"].str.replace("," ,"")
dataframe_test["reduction"] = dataframe_test["reduction"].str.replace("%" ,"")

In [150]:
dataframe_test['price'] = pd.to_numeric(dataframe_test['price'] ,errors='coerce')
dataframe_test['price'] = dataframe_test['price'] 
dataframe_test['reduction'] = pd.to_numeric(dataframe_test['reduction'] ,errors='coerce')

In [151]:
dataframe_test["reduced price"] = dataframe_test["price"] - ((dataframe_test["price"] * dataframe_test["reduction"])/100)
dataframe_test

,product,price,reduction,evaluation,reduced price
0,"Itel S23 - 6.6"" - 8GO, 128GO - 50MP - Mystery ...",229.00,7,3.8 out of 5,212.9700
1,Samsung Galaxy A04e Black 3+32GB 6.5” HD+ PLS ...,1079.00,17,3.8 out of 5,895.5700
2,"Samsung Galaxy A04 - 6.5"" - 4GB RAM + 64GB ROM...",1380.00,17,4.5 out of 5,1145.4000
3,"Itel S23 - 6.6"" - 8GO, 128GO - 50MP - Starry b...",69.00,7,5 out of 5,64.1700
4,Smart Watch T500 Montre intelligente smart wat...,529.00,53,5 out of 5,248.6300
...,...,...,...,...,...
377,Omo Lot de 2 Lessives Liquides au savon de Mar...,26.40,19,4.8 out of 5,21.3840
378,ACE Ace - Nettoyant Sol Manzili Lavande 1l,3.32,23,4 out of 5,2.5564
379,Idéal Ideal - Bennat Tiab Safran 5*2c,12.00,17,4.1 out of 5,9.9600
380,Oulmes Oulmes - 1l,61.20,33,3.4 out of 5,41.0040
381,DAMTI Damti - Sachet Sauce Bechamel Nature 80g,28.80,23,3.6 out of 5,22.1760